<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="p-2">
            <h4 class="bg-danger text-center p-2 text-white">@ViewData["Title"]</h4>
            @RenderBody()
        </div>
    </div>

    
</body>
</html>
